/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.env.example
public/build
prod.env
.yarn/install-state.gz
.yarn/cache/@alloc-quick-lru-npm-5.2.0-eb83517088-bdc35758b5.zip
.yarn/cache/@babel-helper-string-parser-npm-7.24.1-0a40ece7f8-8404e865b0.zip
.yarn/cache/@babel-helper-validator-identifier-npm-7.22.20-18305bb306-136412784d.zip
.yarn/cache/@babel-parser-npm-7.23.0-8a7b151672-453fdf8b9e.zip
.yarn/cache/@babel-types-npm-7.24.0-a0508cb308-4b574a37d4.zip
.yarn/cache/@esbuild-linux-x64-npm-0.18.20-de8e99b449-8.zip
.yarn/cache/@isaacs-cliui-npm-8.0.2-f4364666d5-4a473b9b32.zip
.yarn/cache/@jridgewell-gen-mapping-npm-0.3.3-1815eba94c-4a74944bd3.zip
.yarn/cache/@jridgewell-resolve-uri-npm-3.1.1-aa2de3f210-f5b441fe79.zip
.yarn/cache/@jridgewell-set-array-npm-1.1.2-45b82d7fb6-69a84d5980.zip
.yarn/cache/@jridgewell-sourcemap-codec-npm-1.4.15-a055fb62cf-b881c7e503.zip
.yarn/cache/@jridgewell-trace-mapping-npm-0.3.19-9aa1a7e2fd-956a6f0f6f.zip
.yarn/cache/@nodelib-fs.scandir-npm-2.1.5-89c67370dd-a970d595bd.zip
.yarn/cache/@nodelib-fs.stat-npm-2.0.5-01f4dd3030-012480b5ca.zip
.yarn/cache/@nodelib-fs.walk-npm-1.2.8-b4a89da548-190c643f15.zip
.yarn/cache/@npmcli-agent-npm-2.2.1-8af33193ae-c69aca42db.zip
.yarn/cache/@npmcli-fs-npm-3.1.0-0844a57978-a50a6818de.zip
.yarn/cache/@pkgjs-parseargs-npm-0.11.0-cd2a3fe948-6ad6a00fc4.zip
.yarn/cache/@stripe-stripe-js-npm-1.54.2-a2f6a2f69c-d5c4a71383.zip
.yarn/cache/@stripe-stripe-js-npm-3.0.5-3bacd88abb-7f7cbc3724.zip
.yarn/cache/@tailwindcss-forms-npm-0.5.6-eee61a17f7-2bbbe3ffd1.zip
.yarn/cache/@types-node-npm-20.8.0-81ffdc4953-ebad6342d5.zip
.yarn/cache/@types-uuid-npm-8.3.4-7547f4402c-6f11f3ff70.zip
.yarn/cache/@vitejs-plugin-basic-ssl-npm-1.1.0-cc457f595f-1531eed619.zip
.yarn/cache/@vitejs-plugin-vue-npm-4.3.4-0e0b5c48a9-95bf6c85c0.zip
.yarn/cache/@vue-compiler-core-npm-3.3.4-e514bded25-5437942ea6.zip
.yarn/cache/@vue-compiler-dom-npm-3.3.4-029250af79-1c2ac0c89d.zip
.yarn/cache/@vue-compiler-sfc-npm-3.3.4-783aff746b-0a0adfdd3e.zip
.yarn/cache/@vue-compiler-ssr-npm-3.3.4-9c5036c29f-5d1875d55e.zip
.yarn/cache/@vue-reactivity-npm-3.1.5-673eb042f8-b7dfcaa30a.zip
.yarn/cache/@vue-reactivity-npm-3.3.4-4bb841d3a9-81c3d0c587.zip
.yarn/cache/@vue-reactivity-transform-npm-3.3.4-bfbf394bf7-b425e78b20.zip
.yarn/cache/@vue-runtime-core-npm-3.3.4-4a56fcce5e-d402da5126.zip
.yarn/cache/@vue-runtime-dom-npm-3.3.4-554b8c4277-dac9ada7f6.zip
.yarn/cache/@vue-server-renderer-npm-3.3.4-75b963f24d-e8598ed1a4.zip
.yarn/cache/@vue-shared-npm-3.1.5-fdb967355c-a34b942e1a.zip
.yarn/cache/@vue-shared-npm-3.3.4-76d250afa2-12fe53ff81.zip
.yarn/cache/@vue-stripe-vue-stripe-npm-4.5.0-1848b7430a-01b42de9da.zip
.yarn/cache/abbrev-npm-2.0.0-0eb38a17e5-0e994ad2aa.zip
.yarn/cache/agent-base-npm-7.1.0-4b12ba5111-f7828f9914.zip
.yarn/cache/aggregate-error-npm-3.1.0-415a406f4e-1101a33f21.zip
.yarn/cache/alpinejs-npm-3.13.1-273927899e-368fc31ce0.zip
.yarn/cache/ansi-regex-npm-5.0.1-c963a48615-2aa4bb54ca.zip
.yarn/cache/ansi-regex-npm-6.0.1-8d663a607d-1ff8b7667c.zip
.yarn/cache/ansi-styles-npm-4.3.0-245c7d42c7-513b44c3b2.zip
.yarn/cache/ansi-styles-npm-6.2.1-d43647018c-ef940f2f0c.zip
.yarn/cache/any-promise-npm-1.3.0-f34eeaa7e7-0ee8a9bdbe.zip
.yarn/cache/anymatch-npm-3.1.3-bc81d103b1-3e044fd6d1.zip
.yarn/cache/arg-npm-5.0.2-2f5805a547-6c69ada1a9.zip
.yarn/cache/autoprefixer-npm-10.4.16-e5a0ee424d-45fad70864.zip
.yarn/cache/balanced-match-npm-1.0.2-a53c126459-9706c088a2.zip
.yarn/cache/binary-extensions-npm-2.2.0-180c33fec7-ccd267956c.zip
.yarn/cache/brace-expansion-npm-1.1.11-fb95eb05ad-faf34a7bb0.zip
.yarn/cache/brace-expansion-npm-2.0.1-17aa2616f9-a61e7cd2e8.zip
.yarn/cache/braces-npm-3.0.2-782240b28a-e2a8e769a8.zip
.yarn/cache/browserslist-npm-4.22.1-cccae6d74e-7e6b10c53f.zip
.yarn/cache/cacache-npm-18.0.2-d6329a1b9d-0250df80e1.zip
.yarn/cache/call-bind-npm-1.0.7-762763ef96-295c0c62b9.zip
.yarn/cache/camelcase-css-npm-2.0.1-90d1b6df08-1cec2b3b3d.zip
.yarn/cache/caniuse-lite-npm-1.0.30001542-80d6545a94-6cf20e2e1f.zip
.yarn/cache/chalk-npm-4.1.2-ba8b67ab80-fe75c9d5c7.zip
.yarn/cache/chokidar-npm-3.5.3-c5f9b0a56a-b49fcde401.zip
.yarn/cache/chownr-npm-2.0.0-638f1c9c61-c57cf9dd07.zip
.yarn/cache/clean-stack-npm-2.2.0-a8ce435a5c-2ac8cd2b2f.zip
.yarn/cache/color-convert-npm-2.0.1-79730e935b-79e6bdb9fd.zip
.yarn/cache/color-name-npm-1.1.4-025792b0ea-b044585952.zip
.yarn/cache/commander-npm-4.1.1-22a0fe921b-d7b9913ff9.zip
.yarn/cache/concat-map-npm-0.0.1-85a921b7ee-902a9f5d89.zip
.yarn/cache/cross-spawn-npm-7.0.3-e4ff3e65b3-671cc7c728.zip
.yarn/cache/cssesc-npm-3.0.0-15ec56f86f-f8c4ababff.zip
.yarn/cache/csstype-npm-3.1.2-cead7d99b2-e1a52e6c25.zip
.yarn/cache/debug-npm-4.3.4-4513954577-3dbad3f94e.zip
.yarn/cache/define-data-property-npm-1.1.4-4cbd8efc51-8068ee6cab.zip
.yarn/cache/didyoumean-npm-1.2.2-fd568ec571-d5d98719d5.zip
.yarn/cache/dlv-npm-1.1.3-187c903a21-d7381bca22.zip
.yarn/cache/eastasianwidth-npm-0.2.0-c37eb16bd1-7d00d7cd8e.zip
.yarn/cache/electron-to-chromium-npm-1.4.537-bff50d05a7-6375d3261e.zip
.yarn/cache/emoji-regex-npm-8.0.0-213764015c-d4c5c39d5a.zip
.yarn/cache/emoji-regex-npm-9.2.2-e6fac8d058-8487182da7.zip
.yarn/cache/encoding-npm-0.1.13-82a1837d30-bb98632f8f.zip
.yarn/cache/env-paths-npm-2.2.1-7c7577428c-65b5df55a8.zip
.yarn/cache/err-code-npm-2.0.3-082e0ff9a7-8b7b1be20d.zip
.yarn/cache/es-define-property-npm-1.0.0-e23aa9b242-f66ece0a88.zip
.yarn/cache/es-errors-npm-1.3.0-fda0c9b8a8-ec1414527a.zip
.yarn/cache/esbuild-npm-0.18.20-004a76d281-5d253614e5.zip
.yarn/cache/escalade-npm-3.1.1-e02da076aa-a3e2a99f07.zip
.yarn/cache/estree-walker-npm-2.0.2-dfab42f65c-6151e6f982.zip
.yarn/cache/exponential-backoff-npm-3.1.1-04df458b30-3d21519a4f.zip
.yarn/cache/fast-glob-npm-3.3.1-8045ff8f4d-b6f3add640.zip
.yarn/cache/fastq-npm-1.15.0-1013f6514e-0170e6bfcd.zip
.yarn/cache/fill-range-npm-7.0.1-b8b1817caa-cc283f4e65.zip
.yarn/cache/foreground-child-npm-3.1.1-77e78ed774-139d270bc8.zip
.yarn/cache/fraction.js-npm-4.3.6-233f81170c-e96ae77e64.zip
.yarn/cache/fs-minipass-npm-2.1.0-501ef87306-1b8d128dae.zip
.yarn/cache/fs-minipass-npm-3.0.3-d148d6ac19-8722a41109.zip
.yarn/cache/fs.realpath-npm-1.0.0-c8f05d8126-99ddea01a7.zip
.yarn/cache/fsevents-npm-2.3.3-ce9fb0ffae-11e6ea6fea.zip
.yarn/cache/function-bind-npm-1.1.2-7a55be9b03-2b0ff4ce70.zip
.yarn/cache/get-intrinsic-npm-1.2.4-1dad3427b2-414e3cdf2c.zip
.yarn/cache/glob-npm-7.1.6-1ce3a5189a-351d549dd9.zip
.yarn/cache/glob-npm-10.3.10-da1ef8b112-4f2fe2511e.zip
.yarn/cache/glob-parent-npm-5.1.2-021ab32634-f4f2bfe242.zip
.yarn/cache/glob-parent-npm-6.0.2-2cbef12738-c13ee97978.zip
.yarn/cache/glob-to-regexp-npm-0.4.1-cd697e0fc7-e795f4e8f0.zip
.yarn/cache/gopd-npm-1.0.1-10c1d0b534-a5ccfb8806.zip
.yarn/cache/graceful-fs-npm-4.2.11-24bb648a68-ac85f94da9.zip
.yarn/cache/has-flag-npm-4.0.0-32af9f0536-261a135703.zip
.yarn/cache/has-npm-1.0.4-0dc267d5e0-8a11ba062e.zip
.yarn/cache/has-property-descriptors-npm-1.0.2-d7077d09f1-fcbb246ea2.zip
.yarn/cache/has-proto-npm-1.0.3-b598da2961-fe7c3d50b3.zip
.yarn/cache/has-symbols-npm-1.0.3-1986bff2c4-a054c40c63.zip
.yarn/cache/hash-sum-npm-2.0.0-2216318cf2-efeeacf09e.zip
.yarn/cache/hasown-npm-2.0.1-1bf102e91f-9081c382a4.zip
.yarn/cache/http-cache-semantics-npm-4.1.1-1120131375-83ac0bc60b.zip
.yarn/cache/http-proxy-agent-npm-7.0.2-643ed7cc33-670858c8f8.zip
.yarn/cache/https-proxy-agent-npm-7.0.4-a51e13f5dc-daaab857a9.zip
.yarn/cache/iconv-lite-npm-0.6.3-24b8aae27e-3f60d47a5c.zip
.yarn/cache/immutable-npm-4.3.4-2f54cf641b-de3edd964c.zip
.yarn/cache/imurmurhash-npm-0.1.4-610c5068a0-7cae75c8cd.zip
.yarn/cache/indent-string-npm-4.0.0-7b717435b2-824cfb9929.zip
.yarn/cache/inflight-npm-1.0.6-ccedb4b908-f4f76aa072.zip
.yarn/cache/inherits-npm-2.0.4-c66b3957a0-4a48a73384.zip
.yarn/cache/ip-address-npm-9.0.5-9fa024d42a-aa15f12cfd.zip
.yarn/cache/is-binary-path-npm-2.1.0-e61d46f557-84192eb88c.zip
.yarn/cache/is-core-module-npm-2.13.0-e444c50225-053ab101fb.zip
.yarn/cache/is-extglob-npm-2.1.1-0870ea68b5-df033653d0.zip
.yarn/cache/is-fullwidth-code-point-npm-3.0.0-1ecf4ebee5-44a30c2945.zip
.yarn/cache/is-glob-npm-4.0.3-cb87bf1bdb-d381c1319f.zip
.yarn/cache/is-lambda-npm-1.0.1-7ab55bc8a8-93a32f0194.zip
.yarn/cache/is-number-npm-7.0.0-060086935c-456ac6f8e0.zip
.yarn/cache/isexe-npm-2.0.0-b58870bd2e-26bf6c5480.zip
.yarn/cache/isexe-npm-3.1.1-9c0061eead-7fe1931ee4.zip
.yarn/cache/jackspeak-npm-2.3.6-42e1233172-57d43ad11e.zip
.yarn/cache/jiti-npm-1.20.0-f40f8fe3dc-7924062b56.zip
.yarn/cache/jquery-npm-3.7.1-eeeac0f21e-4370b8139d.zip
.yarn/cache/jsbn-npm-1.1.0-1da0181838-944f924f2b.zip
.yarn/cache/laravel-vite-plugin-npm-0.8.1-282a4d28b5-47dd556df1.zip
.yarn/cache/laravel-vue-i18n-npm-2.7.1-72fa328267-3f7c0d52c6.zip
.yarn/cache/lilconfig-npm-2.1.0-a179261924-8549bb352b.zip
.yarn/cache/lines-and-columns-npm-1.2.4-d6c7cc5799-0c37f9f7fa.zip
.yarn/cache/lru-cache-npm-6.0.0-b4c8668fe1-f97f499f89.zip
.yarn/cache/lru-cache-npm-10.2.0-b9f6b44740-eee7ddda4a.zip
.yarn/cache/magic-string-npm-0.30.8-0378572eee-79922f4500.zip
.yarn/cache/make-fetch-happen-npm-13.0.0-f87a92bb87-7c7a6d381c.zip
.yarn/cache/merge2-npm-1.4.1-a2507bd06c-7268db63ed.zip
.yarn/cache/micromatch-npm-4.0.5-cfab5d7669-02a17b671c.zip
.yarn/cache/mini-svg-data-uri-npm-1.4.4-929f6f1119-997f1fbd8d.zip
.yarn/cache/minimatch-npm-3.1.2-9405269906-c154e56640.zip
.yarn/cache/minimatch-npm-9.0.3-69d7d6fad5-253487976b.zip
.yarn/cache/minipass-collect-npm-2.0.1-73d3907e40-b251bceea6.zip
.yarn/cache/minipass-fetch-npm-3.0.4-200ac7c66d-af7aad15d5.zip
.yarn/cache/minipass-flush-npm-1.0.5-efe79d9826-56269a0b22.zip
.yarn/cache/minipass-npm-3.3.6-b8d93a945b-a30d083c80.zip
.yarn/cache/minipass-npm-5.0.0-c64fb63c92-425dab2887.zip
.yarn/cache/minipass-npm-7.0.4-eacb4e042e-87585e258b.zip
.yarn/cache/minipass-pipeline-npm-1.2.4-5924cb077f-b14240dac0.zip
.yarn/cache/minipass-sized-npm-1.0.3-306d86f432-79076749fc.zip
.yarn/cache/minizlib-npm-2.1.2-ea89cd0cfb-f1fdeac0b0.zip
.yarn/cache/mkdirp-npm-1.0.4-37f6ef56b9-a96865108c.zip
.yarn/cache/ms-npm-2.1.2-ec0c1512ff-673cdb2c31.zip
.yarn/cache/mz-npm-2.7.0-ec3cef4ec2-8427de0ece.zip
.yarn/cache/nanoid-npm-3.3.6-e6d6ae7e71-7d0eda6570.zip
.yarn/cache/negotiator-npm-0.6.3-9d50e36171-b8ffeb1e26.zip
.yarn/cache/node-gyp-npm-10.0.1-48708ce70b-60a74e66d3.zip
.yarn/cache/node-releases-npm-2.0.13-1f2e177887-17ec8f315d.zip
.yarn/cache/nopt-npm-7.2.0-dd734b678d-a9c0f57fb8.zip
.yarn/cache/normalize-path-npm-3.0.0-658ba7d77f-88eeb4da89.zip
.yarn/cache/normalize-range-npm-0.1.2-bec5e259e2-9b2f14f093.zip
.yarn/cache/object-assign-npm-4.1.1-1004ad6dec-fcc6e4ea8c.zip
.yarn/cache/object-hash-npm-3.0.0-d941e0cabe-80b4904bb3.zip
.yarn/cache/object-inspect-npm-1.13.1-fd038a2f0a-7d9fa9221d.zip
.yarn/cache/once-npm-1.4.0-ccf03ef07a-cd0a885013.zip
.yarn/cache/p-map-npm-4.0.0-4677ae07c7-cb0ab21ec0.zip
.yarn/cache/path-is-absolute-npm-1.0.1-31bc695ffd-060840f92c.zip
.yarn/cache/path-key-npm-3.1.1-0e66ea8321-55cd7a9dd4.zip
.yarn/cache/path-parse-npm-1.0.7-09564527b7-49abf3d811.zip
.yarn/cache/path-scurry-npm-1.10.1-52bd946f2e-e2557cff3a.zip
.yarn/cache/php-parser-npm-3.1.3-12e8e05053-80d12718cd.zip
.yarn/cache/picocolors-npm-1.0.0-d81e0b1927-a2e8092dd8.zip
.yarn/cache/picomatch-npm-2.3.1-c782cfd986-050c865ce8.zip
.yarn/cache/pify-npm-2.3.0-8b63310934-9503aaeaf4.zip
.yarn/cache/pirates-npm-4.0.6-a8ec571a43-46a65fefaf.zip
.yarn/cache/postcss-import-npm-15.1.0-8b9e86f900-7bd04bd8f0.zip
.yarn/cache/postcss-js-npm-4.0.1-2c4ee70bf3-5c1e83efea.zip
.yarn/cache/postcss-load-config-npm-4.0.1-351eb776f5-b61f890499.zip
.yarn/cache/postcss-nested-npm-6.0.1-5cdc427fe8-7ddb0364cd.zip
.yarn/cache/postcss-npm-8.4.31-385051a82b-1d8611341b.zip
.yarn/cache/postcss-selector-parser-npm-6.0.13-f732d92326-f89163338a.zip
.yarn/cache/postcss-value-parser-npm-4.2.0-3cef602a6a-819ffab0c9.zip
.yarn/cache/proc-log-npm-3.0.0-a8c21c2f0f-02b64e1b39.zip
.yarn/cache/promise-retry-npm-2.0.1-871f0b01b7-f96a3f6d90.zip
.yarn/cache/qs-npm-6.11.2-b118bc1c6f-e812f3c590.zip
.yarn/cache/queue-microtask-npm-1.2.3-fcc98e4e2d-b676f8c040.zip
.yarn/cache/read-cache-npm-1.0.0-00fa89ed05-cffc728b9e.zip
.yarn/cache/readdirp-npm-3.6.0-f950cc74ab-1ced032e6e.zip
.yarn/cache/redaxios-npm-0.5.1-a278c41829-0ccd38610d.zip
.yarn/cache/resolve-npm-1.22.6-2109e4308f-d13bf66d4e.zip
.yarn/cache/resolve-patch-186166eaf9-9d3b3c67ae.zip
.yarn/cache/retry-npm-0.12.0-72ac7fb4cc-623bd7d2e5.zip
.yarn/cache/reusify-npm-1.0.4-95ac4aec11-c3076ebcc2.zip
.yarn/cache/rollup-npm-3.29.4-5e5e5f2087-8bb20a39c8.zip
.yarn/cache/run-parallel-npm-1.2.0-3f47ff2034-cb4f97ad25.zip
.yarn/cache/safer-buffer-npm-2.1.2-8d5c0b705e-cab8f25ae6.zip
.yarn/cache/sass-npm-1.68.0-960a5fc7e0-65ccede83c.zip
.yarn/cache/semver-npm-7.6.0-f4630729f6-7427f05b70.zip
.yarn/cache/set-function-length-npm-1.2.1-5131ef7312-23742476d6.zip
.yarn/cache/shebang-command-npm-2.0.0-eb2b01921d-6b52fe8727.zip
.yarn/cache/shebang-regex-npm-3.0.0-899a0cd65e-1a2bcae50d.zip
.yarn/cache/side-channel-npm-1.0.5-ac07c0c62d-640446b4e5.zip
.yarn/cache/signal-exit-npm-4.1.0-61fb957687-64c757b498.zip
.yarn/cache/slick-carousel-npm-1.8.1-8382d373c2-acaad391e4.zip
.yarn/cache/smart-buffer-npm-4.2.0-5ac3f668bb-b5167a7142.zip
.yarn/cache/socks-npm-2.8.1-3b253d7256-29586d42e9.zip
.yarn/cache/socks-proxy-agent-npm-8.0.2-df165543cf-4fb165df08.zip
.yarn/cache/source-map-js-npm-1.0.2-ee4f9f9b30-c049a7fc4d.zip
.yarn/cache/sprintf-js-npm-1.1.3-b99efd75b2-a3fdac7b49.zip
.yarn/cache/ssri-npm-10.0.5-1a7557d04d-0a31b65f21.zip
.yarn/cache/string-width-npm-4.2.3-2c27177bae-e52c10dc3f.zip
.yarn/cache/string-width-npm-5.1.2-bf60531341-7369deaa29.zip
.yarn/cache/strip-ansi-npm-6.0.1-caddc7cb40-f3cd25890a.zip
.yarn/cache/strip-ansi-npm-7.1.0-7453b80b79-859c73fcf2.zip
.yarn/cache/stripe-npm-14.17.0-0c845c037e-360451a1f8.zip
.yarn/cache/sucrase-npm-3.34.0-434160cdf2-61860063bd.zip
.yarn/cache/supports-color-npm-7.2.0-606bfcf7da-3dda818de0.zip
.yarn/cache/supports-preserve-symlinks-flag-npm-1.0.0-f17c4d0028-53b1e247e6.zip
.yarn/cache/tailwindcss-npm-3.3.3-1cb35d024e-0195c7a3eb.zip
.yarn/cache/tar-npm-6.2.0-3eb25205a7-db4d9fe74a.zip
.yarn/cache/thenify-all-npm-1.6.0-96309bbc8b-dba7cc8a23.zip
.yarn/cache/thenify-npm-3.3.1-030bedb22c-84e1b804bf.zip
.yarn/cache/to-fast-properties-npm-2.0.0-0dc60cc481-be2de62fe5.zip
.yarn/cache/to-regex-range-npm-5.0.1-f1e8263b00-f76fa01b3d.zip
.yarn/cache/ts-interface-checker-npm-0.1.13-0c7b064494-20c29189c2.zip
.yarn/cache/unique-filename-npm-3.0.0-77d68e0a45-8e2f59b356.zip
.yarn/cache/unique-slug-npm-4.0.0-e6b08f28aa-0884b58365.zip
.yarn/cache/update-browserslist-db-npm-1.0.13-ea7b8ee24d-1e47d80182.zip
.yarn/cache/util-deprecate-npm-1.0.2-e3fe1a219c-474acf1146.zip
.yarn/cache/uuid-npm-8.3.2-eca0baba53-5575a8a75c.zip
.yarn/cache/uuidv4-npm-6.2.13-fb8632083a-25b3ce1d58.zip
.yarn/cache/vite-npm-4.4.9-e845c1bbf8-c511024cea.zip
.yarn/cache/vite-plugin-full-reload-npm-1.0.5-2a6a83518b-250d50a2ce.zip
.yarn/cache/vue-coerce-props-npm-1.0.0-742f9df37e-50a1a6fd85.zip
.yarn/cache/vue-loader-npm-17.2.2-fa6d142d5e-54ea380e63.zip
.yarn/cache/vue-npm-3.3.4-174fadbea4-58b6c62a66.zip
.yarn/cache/watchpack-npm-2.4.0-7ec4b9cc65-23d4bc5863.zip
.yarn/cache/which-npm-2.0.2-320ddf72f7-1a5c563d3c.zip
.yarn/cache/which-npm-4.0.0-dd31cd4928-f17e84c042.zip
.yarn/cache/wrap-ansi-npm-7.0.0-ad6e1a0554-a790b846fd.zip
.yarn/cache/wrap-ansi-npm-8.1.0-26a4e6ae28-371733296d.zip
.yarn/cache/wrappy-npm-1.0.2-916de4d4b3-159da4805f.zip
.yarn/cache/yallist-npm-4.0.0-b493d9e907-343617202a.zip
.yarn/cache/yaml-npm-2.3.2-b844830a8b-acd80cc24d.zip
public/build/manifest.json
public/build/assets/app-622dfd0e.js
public/build/assets/app-79678ae3.css
public/build/assets/avatar-52fc0caf.jpg
public/build/assets/batman-313b7e33.jpg
public/build/assets/en-521c6e95.js
public/build/assets/it-a23a5b23.js
public/build/assets/joker-fb987f4d.jpg
public/build/assets/logo-4ece67a0.png
public/build/assets/php_en-71f8ebfa.js
public/build/assets/placeholder-person-f691e76b.jpg
public/build/assets/schermo-8e2da0fb.png
stag.env
.htaccess
public/build/manifest.json
public/build/assets/app-622dfd0e.js
public/build/assets/app-79678ae3.css
public/build/assets/avatar-52fc0caf.jpg
public/build/assets/batman-313b7e33.jpg
public/build/assets/en-521c6e95.js
public/build/assets/it-a23a5b23.js
public/build/assets/joker-fb987f4d.jpg
public/build/assets/logo-4ece67a0.png
public/build/assets/php_en-71f8ebfa.js
public/build/assets/placeholder-person-f691e76b.jpg
public/build/assets/schermo-8e2da0fb.png
public/build/manifest.json
public/build/assets/app-622dfd0e.js
public/build/assets/app-79678ae3.css
public/build/assets/avatar-52fc0caf.jpg
public/build/assets/batman-313b7e33.jpg
public/build/assets/en-521c6e95.js
public/build/assets/it-a23a5b23.js
public/build/assets/joker-fb987f4d.jpg
public/build/assets/logo-4ece67a0.png
public/build/assets/php_en-71f8ebfa.js
public/build/assets/placeholder-person-f691e76b.jpg
public/build/assets/schermo-8e2da0fb.png
.well-known/apple-developer-merchantid-domain-association
