@use './mixins' as *;

:root {
	--main-font: 'Montserrat', sans-serif;
	--nav-font: 'Cabin', sans-serif;
	--color-background: #080808;
	--color-text: white;
	--white-9: rgba(255, 255, 255, 0.9);
	--color-screen: #465ba5;
	--fce-lounge: #F0841D;
	--color-gray-text: #8C8C8C;
	--color-text-dark-gray: #5d5f6b;
	--dark-gray: #232323;
	--int2: #8E8E8D;
	--int3: #404040;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
	max-width: 100vw;
	margin: 0 auto;
	font-family: var(--main-font);
	padding-bottom: 80px;

	.header {
		display: flex;
		justify-content: space-between;
		padding-top: 10px;
		padding-bottom: 16px;

		#choose_cinema {
			background: black;
			border: 0;
			color: white;
			font-weight: bold;
			font-size: 20px;
		}
	}
}

.pad-both-24 {
	padding-left: 24px;
	padding-right: 24px;
}

.mb-24 {
	margin-bottom: 24px;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.items-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.fb-48 {
	flex-basis: 48%;
}

.hidden {
	display: none !important;
}

ul.space-y-1.mt-2 {
	padding: 0;
	list-style: none;

	&.text-red-600 {
		li {
			color: red;
		}
	}

	li {
		line-height: 1.1;
		font-size: 13px;
		font-weight: bold;
		margin-bottom: 10px;
	}
}

.carousel-two .films .wrap {
	height: 43vh;
	background-size: cover !important;
	min-height: 310px;
	border-radius: 10px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 15px;

	a:any-link,
	&:any-link {
		text-decoration: none;
		color: white;
	}

	h2 {
		font-weight: bold;
		font-size: 20px;
	}
}

.recommended .wrap {
	background-size: cover !important;
	height: 19vh;
	border-radius: 10px;
	background-position: bottom left !important;
	display: flex;
	padding: 15px;
	flex-direction: column;
	justify-content: flex-end;

	h2 {
		font-weight: bold;
		font-size: 20px;
	}

	.meta {
		justify-content: space-between;
		align-items: flex-end;
		font-size: 13px;

		ul {
			padding-left: 0;
			display: inline-flex;
			flex-basis: 70%;
			flex-wrap: wrap;
			margin-left: -7px;

			li {
				margin-left: 20px;
			}
		}
	}
}

#search {
	.fake-search {
		background-color: var(--dark-gray);
		border-radius: 10px;
		display: flex;
		align-items: center;
		padding-left: 10px;

		input {
			background-color: var(--dark-gray);
			color: white;
			border: 0;
			padding: 13px 14px;
			margin: 0;

			&:focus-visible {
				border: 0;
				outline: 0;
			}

			&::placeholder {
				color: var(--color-text-dark-gray);
			}
		}
	}
}

.promo {
	display: flex;
	margin: 24px;
	background-color: #3f3f3f;
	border-radius: 10px;
	padding: 15px 7px 15px 15px;
	justify-content: space-between;
	align-items: center;

	b {
		font-weight: bold;
		font-size: 20px;
	}
}

/** icons **/
i.arrow-right {
	height: 10px;
	
	&::before {
		content: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.43 6.42993L20.5 12.4999L14.43 18.5699M3.5 12.4999H20.33' stroke='white' stroke-opacity='0.9' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
	}
}

i.cart {
	&::before {
		content: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 2.88739H4.24C5.32 2.88739 6.17 3.81739 6.08 4.88739L5.25 14.8474C5.21759 15.2333 5.26569 15.6216 5.39123 15.9879C5.51678 16.3542 5.71705 16.6905 5.97934 16.9753C6.24163 17.2602 6.56023 17.4874 6.91495 17.6427C7.26967 17.798 7.65278 17.8779 8.04 17.8774H18.69C20.13 17.8774 21.39 16.6974 21.5 15.2674L22.04 7.76739C22.16 6.10739 20.9 4.75739 19.23 4.75739H6.32M9.5 8.88739H21.5M16.75 22.8874C17.0815 22.8874 17.3995 22.7557 17.6339 22.5213C17.8683 22.2869 18 21.9689 18 21.6374C18 21.3059 17.8683 20.9879 17.6339 20.7535C17.3995 20.5191 17.0815 20.3874 16.75 20.3874C16.4185 20.3874 16.1005 20.5191 15.8661 20.7535C15.6317 20.9879 15.5 21.3059 15.5 21.6374C15.5 21.9689 15.6317 22.2869 15.8661 22.5213C16.1005 22.7557 16.4185 22.8874 16.75 22.8874ZM8.75 22.8874C9.08152 22.8874 9.39946 22.7557 9.63388 22.5213C9.8683 22.2869 10 21.9689 10 21.6374C10 21.3059 9.8683 20.9879 9.63388 20.7535C9.39946 20.5191 9.08152 20.3874 8.75 20.3874C8.41848 20.3874 8.10054 20.5191 7.86612 20.7535C7.6317 20.9879 7.5 21.3059 7.5 21.6374C7.5 21.9689 7.6317 22.2869 7.86612 22.5213C8.10054 22.7557 8.41848 22.8874 8.75 22.8874Z' stroke='white' stroke-opacity='0.9' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
	}
}

i.wallet {
	&::before {
		content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.04 13.55C17.62 13.96 17.38 14.55 17.44 15.18C17.53 16.26 18.52 17.05 19.6 17.05H21.5V18.24C21.5 20.31 19.81 22 17.74 22H6.26C4.19 22 2.5 20.31 2.5 18.24V11.51C2.5 9.44 4.19 7.75 6.26 7.75H17.74C19.81 7.75 21.5 9.44 21.5 11.51V12.95H19.48C18.92 12.95 18.41 13.17 18.04 13.55Z' stroke='white' stroke-opacity='0.9' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.5 12.4099V7.8399C2.5 6.6499 3.23 5.5899 4.34 5.1699L12.28 2.1699C12.5677 2.06149 12.8774 2.02451 13.1825 2.06213C13.4876 2.09975 13.7791 2.21086 14.0318 2.38591C14.2846 2.56095 14.491 2.79472 14.6335 3.06713C14.7761 3.33954 14.8503 3.64247 14.85 3.9499V7.7499M7 11.9999H14M22.559 13.9699V16.0299C22.559 16.5799 22.119 17.0299 21.559 17.0499H19.599C18.519 17.0499 17.529 16.2599 17.439 15.1799C17.379 14.5499 17.619 13.9599 18.039 13.5499C18.409 13.1699 18.919 12.9499 19.479 12.9499H21.559C22.119 12.9699 22.559 13.4199 22.559 13.9699Z' stroke='white' stroke-opacity='0.9' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
	}
}

i.check-success {
	&::before {
		content: url("data:image/svg+xml,%3Csvg width='200' height='200' viewBox='0 0 200 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M99.9998 16.6667C53.9998 16.6667 16.6665 54 16.6665 100C16.6665 146 53.9998 183.333 99.9998 183.333C146 183.333 183.333 146 183.333 100' stroke='white' stroke-opacity='0.9' stroke-width='10' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M177.778 33.3333L124.306 86.8056L100 62.5' stroke='white' stroke-opacity='0.9' stroke-width='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	}
}

i.icon-google {
	&::before {
		content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1052_1114)'%3E%3Cpath d='M23.766 12.2764C23.766 11.4607 23.6999 10.6406 23.5588 9.83807H12.24V14.4591H18.7217C18.4528 15.9494 17.5885 17.2678 16.323 18.1056V21.1039H20.19C22.4608 19.0139 23.766 15.9274 23.766 12.2764Z' fill='%234285F4'/%3E%3Cpath d='M12.24 24.0008C15.4764 24.0008 18.2058 22.9382 20.1944 21.1039L16.3274 18.1055C15.2516 18.8375 13.8626 19.252 12.2444 19.252C9.11376 19.252 6.45934 17.1399 5.50693 14.3003H1.51648V17.3912C3.55359 21.4434 7.70278 24.0008 12.24 24.0008Z' fill='%2334A853'/%3E%3Cpath d='M5.50253 14.3003C4.99987 12.8099 4.99987 11.1961 5.50253 9.70575V6.61481H1.51649C-0.18551 10.0056 -0.18551 14.0004 1.51649 17.3912L5.50253 14.3003Z' fill='%23FBBC04'/%3E%3Cpath d='M12.24 4.74966C13.9508 4.7232 15.6043 5.36697 16.8433 6.54867L20.2694 3.12262C18.1 1.0855 15.2207 -0.034466 12.24 0.000808666C7.70277 0.000808666 3.55359 2.55822 1.51648 6.61481L5.50252 9.70575C6.45052 6.86173 9.10935 4.74966 12.24 4.74966Z' fill='%23EA4335'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1052_1114'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	}
}

i.icon-facebook {
	&::before {
		content: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath fill='%231877F2' d='M15 8a7 7 0 00-7-7 7 7 0 00-1.094 13.915v-4.892H5.13V8h1.777V6.458c0-1.754 1.045-2.724 2.644-2.724.766 0 1.567.137 1.567.137v1.723h-.883c-.87 0-1.14.54-1.14 1.093V8h1.941l-.31 2.023H9.094v4.892A7.001 7.001 0 0015 8z'%3E%3C/path%3E%3Cpath fill='%23ffffff' d='M10.725 10.023L11.035 8H9.094V6.687c0-.553.27-1.093 1.14-1.093h.883V3.87s-.801-.137-1.567-.137c-1.6 0-2.644.97-2.644 2.724V8H5.13v2.023h1.777v4.892a7.037 7.037 0 002.188 0v-4.892h1.63z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	}
}


.switch {
	border: 0;
	border-radius: 30px;
	width: 45px;
	height: 25px;
	display: flex;
	align-items: center;
	background: var(--color-gray-text);
	justify-content: flex-start;
	transition: all .4 ease-out;

	&.on {
		background: #30D158;
		justify-content: flex-end;

		.circle {
			margin-right: -2px;

			&.safari {
				margin-right: -8px !important;
			}
		}
	}

	&:not(.on) {
		.circle {
			margin-left: -2px;

			&.safari {
				margin-left: -8px !important;
			}
		}
	}

	.circle {
		background: white;
		height: 21px;
		border-radius: 50%;
		width: 23px;
		transition: all .4 ease-out;
	}
}

.alert.alert-info {
	color: red;
	font-weight: 600;
	display: block;
	position: relative;
	text-align: center;
	margin-top: 35px;
}