/// Media Queries
/// @include respond-to($desktop-wide1) { //code }
$not-mobile: '(min-width: 640px)';
$small-phone: '(max-width: 320px)';
$mid-phone: '(min-width: 320px) and (max-width: 640px)';
$phone: '(max-width: 640px)';
$phone-plus: '(max-width: 767px)';
$min-phone: '(min-width: 767.5px)';
$small-tablet: '(min-width: 640px) and (max-width: 767px)';
$small-tablet3: '(min-width: 640.5px) and (max-width: 699px)';
$small-tablet2: '(min-width: 640.5px) and (max-width: 804px)';
$small-tablet4: '(min-width: 640.5px) and (max-width: 786px)';
$mid-tablet: '(min-width: 640px) and (max-width: 1024px)';
$tablet: '(min-width: 767px) and (max-width: 1024px)';
$odd-tablet: '(min-width: 766px) and (max-width: 890px)';
$tablet-pro: '(min-width: 1024px) and (max-width: 1366px) and (orientation: portrait)';
$ipad-large: '(min-width: 1024px) and (max-width: 1111px)';
$min-tablet: '(min-width: 1024px)';
$max-tablet: '(max-width: 1024px)';
$mini-desktop: '(min-width: 1024px) and (max-width: 1280px)';
$max-mini-desktop: '(max-width: 1280px)';
$min-desktop: '(min-width: 1280px)';
$small-desktop: '(min-width: 1280px) and (max-width: 1440px)';
$mid-desktop: '(min-width: 1440px) and (max-width: 1600px)';
$desktop: '(min-width: 1600px) and (max-width: 1920px)';
$min-wide-desktop: '(min-width: 1440px)';
$min-wide: '(min-width: 1600px)';
$max-desktop: '(max-width: 1920px)';
$retina: '(min-width: 1920.1px)';
$retina2: '(min-width: 1919px) and (min-resolution: 2dppx)';
@mixin respond-to($media) {
	@media only screen and #{$media} {
		@content;
	}
}