@use '../mixins' as *;

#film-page {
	padding-top: 20px;

	p {
		line-height: 1.1;
	}

	.film-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-top: 10%;

		@include respond-to($min-tablet) {
			margin-top: 3%;
		}

		.film {
			margin-bottom: 20px;
	
			@include respond-to($phone-plus) {
				flex-basis: calc(95% / 2);

				&:not(:nth-of-type(2n+2)) {
					margin-right: 5%;
				}
			}

			@include respond-to($tablet) {
				flex-basis: calc(92% / 4);

				&:not(:nth-of-type(4n+4)) {
					margin-right: 2.5%;
				}
			}

			@include respond-to($desktop) {
				flex-basis: calc(92% / 6);

				&:not(:nth-of-type(6n+6)) {
					margin-right: 1.5%;
				}
			}

			@include respond-to($min-wide) {
				flex-basis: calc(91% / 7);

				&:not(:nth-of-type(7n+7)) {
					margin-right: 1.5%;
				}
			}
	
			.wrap {
				height: 30vh;
				min-height: 250px;
				border-radius: 10px;
				display: flex;
				align-items: flex-end;
				justify-content: center;
				padding: 15px;
				background-size: cover !important;

				@include respond-to($tablet) {
					height: 17vw;
					min-height: 250px;
				}

				@include respond-to($desktop) {
					height: 17vw;
					min-height: 234px;
				}

				@include respond-to($min-wide) {
					height: 17vw;
					min-height: 314px;
				}
	
				a:any-link,
				&:any-link {
					text-decoration: none;
					color: white;
				}
	
				h2 {
					font-weight: bold;
					font-size: clamp(16px, 1.8vw, 20px);
				}
			}
		}
	}
}