@use '../mixins' as *;

main#login {
	display: flex;
	// height: 85vh;

	@include respond-to($max-tablet) {
		flex-direction: column;
		justify-content: space-between;
	}

	@include respond-to($mini-desktop) {
		flex-direction: column;
		justify-content: space-between;
	}

	@include respond-to($min-desktop) {
		flex-direction: row;
	}

	.wrapper {
		@include respond-to($min-desktop) {
			flex-basis: 50%;
			padding: 6% 7% 0;
		}
	}

	.intro {
		text-align: center;

		@include respond-to($max-tablet) {
			&[phase="register"] {
				height: 27vh;
				z-index: -1;
			}

			&[phase="login"] {
				height: 30vh;
				z-index: -1;
			}

			&[phase="start"] {
				height: 39vh;
				z-index: -1;
			}
		}

		@include respond-to($desktop) {
			&[phase="register"] {
				height: 27vh;
			}

			&[phase="login"] {
				height: 76vh;
			}

			&[phase="start"] {
				height: 76vh;
				margin: -2em auto -14em;
				z-index: -1;
			}
		}

		@include respond-to($min-desktop) {
			flex-basis: 50%;
		}

		img {
			width: 100%;
			clip-path: circle(75% at top);
			transition: all .6s ease-in-out;

			&.start:not(.hidden) {
				margin-top: -16%;
			}

			@include respond-to($max-tablet) {
				&.register:not(.hidden) {
					margin-top: -20%;
				}
	
				&.login:not(.hidden) {
					margin-top: -35%;
				}
			}

			@include respond-to($tablet) {
				&.start {
					height: 76vh;
					width: auto !important;
				}
			}

			@include respond-to($desktop) {
				width: 28vw;
			}
		}
	}

	.logo {
		text-align: center;
		height: 26vh;

		img {
			width: 45%;
			height: auto;
			margin: 1em 0 2em;

			@include respond-to($tablet-land) {
				width: 185px;
			}

			@include respond-to($min-tablet) {
				width: 185px;
			}
		}

		p {
			font-family: var(--nav-font);
		}
	}

	> .login {
		@include respond-to($max-tablet) {
			height: 44vh;
		}
	}

	> .register {
		@include respond-to($max-tablet) {
			height: 52vh;
		}
	}

	.buttons {
		padding: 24px;
		text-align: center;

		button {
			width: 200px;
			margin-bottom: 10px;

			@include respond-to($phone) {
				width: 100%;
			}
		}

		p {
			font-family: var(--nav-font);
		}
	}
}