#profilo-utente {
	.logout a:any-link {
		color: white;
		float: right;
		margin-top: -30px;
		margin-right: 7px;
	}

	select {
		background: transparent;
		padding: 10px;
		border-radius: 5px;
		margin-bottom: 15px;
		color: white;
	}
}